src/*.egg-info/
/.hypothesis/
/build/
/.pybuild/
.cache/
/.idea/
/.vscode/
/env/
/venv/
__pycache__/
*.pyc
/docs/_build/
/.eggs/
/htmlcov/
*.pyc
/build/
/dist/
/.pytest_cache/
/.tox/
.coverage
.coverage.*
/htmlcov/
dist/
docs/_build/
